<ion-view title="Ziba">
    <ion-content class="has-header minus-margin">
      <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-email" ng-click="showNews = !showNews;"></button>
        </ion-nav-buttons>
        
       <div class="newsletterhome" ng-show="showNews">
                <div class="row">
                    <label class="item-input-wrapper royal">
                        <input type="text" placeholder="Enter Email For Newsletter" ng-model="uemail" class="discountcoupon form-control newsletteremail " style="margin-right:5px;">
                    </label>
                    <button class="button button-royal button-small" ng-click="newsletter(uemail)">
                        Go
                    </button>
                </div>
            </div>
        <img src="img/bg-menu.jpg" class="full-image">
        <a href="#/tab/iheartziba"><img src="img/ihz.jpg" class="full-image"></a>
        <div class="row no-pad">
            <div class="col">
                <a href="#/tab/homecategories/1">  <img src="img/home-banner2.jpg" class="full-image"></a>
            </div>
            <div class="col">
                <a href="#/tab/homecategories/9">   <img src="img/home-banner1.jpg" class="full-image"></a>
            </div>
        </div>

<!--
        <div class="padding">
            
            <img src="img/pick.png" style="width:90%;">

            <div class="productset">
                <div class="imageset">

                    <ion-scroll direction="x">
                        <div class="row">
                            <div class="col col-20" ng-repeat="slider in sliders">
                                <a href="#/tab/home/product/{{slider.link}}">
                                    <img src="{{slider.image|imagepath}}" class="full-image">
                                    <p class="royal productprice">{{slider.price|convertprice}}</p>
                                </a>
                            </div>
                        </div>
                    </ion-scroll>

                </div>
            </div>

        </div>
-->

        </center>
    </ion-content>
</ion-view>
